@charset "UTF-8";
/*скидываем точки возле списка и марджины для ul*/
.list {
  list-style: none;
}

/*«B1» глобальне скидання стилів <h1>...<h6>, <p>і <ul>.*/
h1,
h2,
h3,
p,
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/*скидываем подчеркивания линков*/
.link {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

/*текст тега р*/
.text {
  color: #757575;
}

/*«B15» Для всіх .section padding верх низ 94 */
.section {
  margin: 0;
  /*padding-top: 94px;
  padding-bottom: 94px;*/
}

/*body */
body {
  background-color: #ffffff;
  color: #212121;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 767px) {
  body.no-scroll {
    overflow: hidden;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/*page-header*/
.header {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

.logo__nav {
  display: flex;
}

.main {
  display: flex;
  align-items: center;
}
.main__logo {
  color: #212121;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
}
@media screen and (min-width: 1200px) {
  .main__logo {
    font-size: 26px;
    line-height: 1.2;
  }
}
.main__web {
  color: #2196f3;
}

.main__nav {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .main__nav {
    display: flex;
    margin-left: 88px;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .main__nav {
    display: flex;
    margin-left: 93px;
  }
}

/* список навигации header*/
.site-nav {
  display: flex;
}

.site-nav__item {
  margin-right: 50px;
  position: relative;
}
.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  /*Переход*/
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

/* список контактов header*/
.contact-nav {
  display: flex;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .contact-nav {
    display: block;
    margin-left: auto;
  }
  .contact-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav {
    display: flex;
    justify-content: center;
  }
  .contact-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact-nav__link {
  display: flex;
  /* color: $secondary-text;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  transition: color 250ms $timng-function;*/
}
.contact-nav__link:hover, .contact-nav__linkactive, .contact-nav__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) {
  .contact-nav__link {
    color: #757575;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1200px) {
  .contact-nav__link {
    font-size: 14px;
  }
}

/*иконки header*/
@media screen and (min-width: 768px) {
  .contact-nav__icon-envelope {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;
  }
  .contact-nav__icon-smartphone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
}

/*Подчеркивание*/
.site-nav__current-page {
  display: block;
  position: relative;
}

.site-nav__current-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: -36px;
}

.navigation-div {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .navigation-div {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .navigation-div.is-open {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .navigation-div {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
  }
}

/*первая секция Hero*/
.hero {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 118px;
  padding-top: 118px;
  background-color: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero1x-desktop.jpg");
  /*main-button для index.html */
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url("../images/hero/hero2x-desktop.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    max-width: 1600px;
  }
}
.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
  }
}
.hero__button {
  display: inline-block;
  align-items: center;
  text-align: center;
  min-width: 200px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: #2196f3;
  color: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
}

/*вторая секция advantage*/
.advantage {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advantage {
    padding-top: 94px;
    padding-bottom: 0;
  }
}
.advantage__content {
  display: block;
}
@media screen and (min-width: 768px) {
  .advantage__content {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantage__list {
  width: 100%;
  margin-bottom: 30px;
}
.advantage__list:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .advantage__list {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .advantage__list:nth-child(2n) {
    margin-right: 0;
  }
  .advantage__list:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .advantage__list {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .advantage__list:nth-child(2n) {
    margin-right: 30px;
  }
  .advantage__list:last-child {
    margin-right: 0;
  }
  .advantage__list:nth-child(-n+2) {
    margin-bottom: 0;
  }
}
.advantage__background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  /* @media screen and(min-width:480px) {
    width: 450px;
  }*/
}
.advantage__icon {
  width: 70px;
  height: 70px;
  background-position: center;
  fill: #212121;
}

.advantage-name {
  display: none;
  margin-top: 0;
  margin-bottom: 10px;
}
.advantage-name__item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .advantage-name__item {
    text-align: start;
    margin-bottom: 10px;
  }
}
.advantage-name__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/*третья секция responsibilities*/
.responsibilities {
  padding-top: 0;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .responsibilities {
    display: none;
  }
}

.responsibilities-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
}

.responsibilities-list {
  display: flex;
}

.responsibilities-list__image {
  display: block;
}
.responsibilities-list__item {
  position: relative;
}
.responsibilities-list__item:not(:last-child) {
  margin-right: 30px;
}
.responsibilities-list__text {
  display: flex;
  position: absolute;
  width: 370px;
  height: 70px;
  font-style: normal;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  border: transparent;
  background-color: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
  align-items: center;
  justify-content: center;
}

/* Постоянные клиенты*/
.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.constant-clients {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .constant-clients {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.2;
  }
}

.client-galery {
  display: block;
  margin: 0 auto;
  /*align-items: center;
  justify-content: center;

  &__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }

  &__item:not(:nth-last-child(-n + 2)) {
    margin-bottom: 30px;
  }*/
}
@media screen and (min-width: 480px) {
  .client-galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .client-galery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .client-galery__item:not(:last-child) {
    margin-right: 30px;
  }
}

.client-galery__item {
  margin-right: 0;
  margin-bottom: 30px;
  margin: 0 auto 30px;
  width: 210px;
  height: auto;
}
.client-galery__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 480px) {
  .client-galery__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .client-galery__item:nth-child(2n) {
    margin-right: 0;
  }
  .client-galery__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .client-galery__item {
    width: 226px;
  }
  .client-galery__item:nth-child(2n) {
    margin-right: 30px;
  }
  .client-galery__item:nth-child(3n) {
    margin-right: 0;
  }
  .client-galery__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .client-galery__item {
    width: 170px;
    height: 92px;
    margin-bottom: 0;
  }
  .client-galery__item:nth-child(2n) {
    margin-right: 30px;
  }
  .client-galery__item:nth-child(3n) {
    margin-right: 0;
  }
  .client-galery__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
  .client-galery__item:nth-last-child(4) {
    margin-right: 30px;
  }
}
.client-galery__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-galery__icon:hover, .client-galery__icon:focus {
  border-color: #2196f3;
}
.client-galery__icon:hover .client-galery__icon__svg, .client-galery__icon:focus .client-galery__icon__svg {
  fill: #2196f3;
}

.client-galery__icon__svg {
  width: 106px;
  height: 60px;
}

.icon-ya-ko {
  background-position: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-tagline-here {
  background-position: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-company {
  background-position: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-foster-peters {
  background-position: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-brand {
  background-position: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-tag-line {
  background-position: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*четвертая секция team*/
.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-name {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team-name {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
}
.team-name__description {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-list {
  display: block;
}
@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
  }
}
.team-list__item {
  width: 100%;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list__item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .team-list__item:nth-child(2n) {
    margin-right: 0;
  }
  .team-list__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: 270px;
    margin-right: 30px;
    margin-bottom: 0;
  }
  .team-list__item:nth-child(2n) {
    margin-right: 30px;
  }
  .team-list__item:last-child {
    margin-right: 0;
  }
  .team-list__item:nth-child(-n+2) {
    margin-bottom: 0;
  }
}

.team-list__image {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
.team-list__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
}
.team-list__text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  min-width: 270px;
  margin-top: 0;
  margin-bottom: 16px;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__socials-item:not(:last-child) {
  margin-right: 10px;
}

.team-list__socials {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.team-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-list__link:hover, .team-list__link:focus {
  background-color: #2196f3;
}
.team-list__icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list__link:hover .team-list__icon,
.team-list__link:focus .team-list__icon {
  fill: #ffffff;
}

/*Подчеркивание header*/
.site-nav__current-page {
  display: block;
  position: relative;
}
.site-nav__current-link::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: -31px;
}

/*Modal window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  pointer-events: painted;
  opacity: 1;
  overflow-y: scroll;
  z-index: 2;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden.modal {
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__form {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 95%;
  max-width: 450px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .backdrop__form {
    max-width: 528px;
    top: 50%;
  }
}

/* close modal button*/
.backdrop__button-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  padding: 0;
  margin-top: 8px;
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}
.backdrop__button-close:hover, .backdrop__button-close:active, .backdrop__button-close:focus {
  fill: #2196f3;
}
.backdrop__icon-close {
  width: 11px;
  height: 11px;
  fill: #212121;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button-close:hover .backdrop__icon-close,
.backdrop__button-close:focus .backdrop__icon-close {
  fill: #2196f3;
}

/*hw 6 оформление наполнения модалки*/
.js-speaker-form__content {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin: 0 auto 12px;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.input__name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.input__field {
  width: 100%;
  height: auto;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 30px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /*&:not(:last-child) {
    margin-bottom: 10px;
  }*/
}
.input__field:hover, .input__field:active, .input__field:focus {
  border: 1px solid #2196f3;
  cursor: pointer;
}

.input__textarea {
  width: 100%;
  min-height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input .input__textarea::-moz-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input .input__textarea:-ms-input-placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.input .input__textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.input .input__textarea::-moz-placeholder:hover, .input .input__textarea::-moz-placeholder:active, .input .input__textarea::-moz-placeholder:focus {
  border: 1px solid #2196f3;
}
.input .input__textarea:-ms-input-placeholder:hover, .input .input__textarea:-ms-input-placeholder:active, .input .input__textarea:-ms-input-placeholder:focus {
  border: 1px solid #2196f3;
}
.input .input__textarea::placeholder:hover, .input .input__textarea::placeholder:active, .input .input__textarea::placeholder:focus {
  border: 1px solid #2196f3;
}

.input_icon {
  position: absolute;
  width: 18px;
  height: 18px;
  transform: translateY(50%);
  top: 50;
  left: 12px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input__field:hover + .input_icon,
.input__field:focus + .input_icon {
  fill: #2196f3;
}

/*checkbox*/
.checkbox-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 30px;
}

.checkbox-label {
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}
.checkbox__icon {
  width: 18px;
  height: 18px;
  border: 2px solid #212121;
  border-radius: 2px;
  fill: #ffffff;
  margin-right: 8px;
}
.checkbox__field {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
  width: 346px;
}
@media screen and (min-width: 1200px) {
  .checkbox__field {
    font-size: 14px;
  }
}
.checkbox__conditions {
  font-style: normal;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196f3;
  align-items: center;
  justify-content: center;
}

.checkbox:checked + .checkbox__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  fill: #ffffff;
  background-origin: border-box;
}

/* button submin*/
.checkbox__button {
  display: block;
  min-width: 200px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 55px;
  margin: 0 auto;
  margin-top: 30px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox__button:hover, .checkbox__button:focus, .checkbox__button:active {
  background-color: #188ce8;
  cursor: pointer;
}

.menu-button {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}
.menu-button__cross, .menu-button__burger {
  padding: 12px 8px;
}
.menu-button__cross {
  display: none;
}
.menu-button.is-open .menu-button__cross {
  display: block;
}
.menu-button__burger {
  display: block;
}
.menu-button.is-open .menu-button__burger {
  display: none;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu {
  z-index: 1;
  padding: 48px 40px;
  background-color: #ffffff;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .menu.is-open {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-nav {
    display: block;
    margin-right: auto;
  }
}
.mobile-nav__item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__item:hover, .mobile-nav__item:active, .mobile-nav__item:focus {
  color: #2196f3;
}
.mobile-nav__item--current, .mobile-nav__item--accent {
  color: #2196f3;
}

.mobile-contacts {
  display: block;
  margin-bottom: 64px;
  margin-top: auto;
}
.mobile-contacts__list:not(:last-child) {
  margin-bottom: 32px;
}
.mobile-contacts__item {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-contacts__item--accent {
  color: #2196f3;
  font-size: 34px;
  line-height: 1.18;
}
.mobile-contacts__item:hover, .mobile-contacts__item:active, .mobile-contacts__item:focus {
  color: #2196f3;
}

.mobile-socials {
  display: flex;
  align-items: center;
}
.mobile-socials__list:not(:last-child) {
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-socials__item {
  color: #2196f3;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-right: 10px;
}

/*Подчеркивание*/
.bottomline {
  border-bottom: 1px solid #ececec;
}

/*основная секция portfolio*/
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-header-portfolio {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}

.portfolio__title {
  display: none;
}

.galery {
  display: block;
}
@media screen and (min-width: 768px) {
  .galery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.galery .galery__item {
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }*/
}
.galery .galery__item:hover, .galery .galery__item:focus, .galery .galery__item:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 768px) {
  .galery .galery__item {
    width: 100%;
    max-width: 354px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .galery .galery__item {
    width: 100%;
    max-width: 370px;
    margin-bottom: 30px;
  }
}

.galery__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .galery__item:not(:last-child):nth-child(2n) {
    margin-right: 0;
  }
  .galery__item:not(:last-child):nth-child(-n+2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .galery__item:not(:last-child):nth-child(2n) {
    margin-right: 30px;
  }
  .galery__item:not(:last-child):nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .galery__item:not(:last-child):nth-child(3n) {
    margin-right: 0;
  }
  .galery__item:not(:last-child):nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}

.box {
  position: relative;
  overflow: hidden;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .box {
    width: 100%;
    max-width: 354px;
    position: relative;
    overflow: hidden;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    max-width: 370px;
    position: relative;
    overflow: hidden;
  }
}
.box__frame {
  text-decoration: none;
}
.box__frame:active .box__frame__overlay {
  transform: translateX(0);
}
.box__frame:hover .box__frame__overlay {
  transform: translateX(0);
}
.box__frame:hover .overlay, .box__frame:focus .overlay, .box__frame:active .overlay {
  transform: translateY(0);
}
.box__img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  height: auto;
}
.box__description {
  width: 100%;
  border: 1px solid #eeeeee;
  border-top: none;
  padding: 20px 24px;
}
@media screen and (min-width: 768px) {
  .box__description {
    padding: 20px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .box__description {
    padding: 20px 18px;
  }
}
.box__name {
  margin-top: 0;
  margin-bottom: 4px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.box__text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%) scale(1);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
  color: #ffffff;
  padding: 63px 24px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .overlay__text {
    padding: 49px 24px 77px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .overlay__text {
    padding: 63px 24px;
  }
}

/*portfolio-button для portfolio.html*/
.portfolio-button {
  background-color: #f5f4fa;
  color: #212121;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  min-width: 73px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover, .portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .button-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    margin-bottom: 50px;
  }
}
.button-list__item:not(:last-child) {
  margin-right: 8px;
}
.button-list__item:nth-last-child(-n+2) {
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .button-list__item:nth-last-child(-n+2) {
    margin-top: 0;
  }
}

/*footer*/
.footer {
  background-color: hsl(235deg, 10%, 21%);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.address {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .address {
    text-align: start;
    margin-bottom: 0;
    flex-shrink: 0;
  }
}

.nav-footer__address:not(:last-child) {
  margin-bottom: 8px;
}

.address__logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .address__logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.address__logo > .address__web-logo {
  color: #2196f3;
}

.address__logo > .address__studio-logo {
  color: #ffffff;
}

.nav-footer__street {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-footer__street:hover, .nav-footer__street:focus {
  color: #2196f3;
}

.nav-footer__contact {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-footer__contact:hover, .nav-footer__contact:focus {
  color: #2196f3;
}

/*social links footer*/
/*.join-cotainer {
  display: flex;
  flex-wrap: wrap;
  width: 206px;
  height: 80px;
  margin-top: 72px;
  margin-bottom: 100px;
}*/
.join {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 0;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .join {
    text-align: start;
  }
}

.member-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 60px;
}
.member-list__item {
  width: 44px;
  height: 44px;
}
.member-list__item:not(:last-child) {
  margin-right: 10px;
}
.member-list__icon {
  display: flex;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-list__icon:hover, .member-list__icon:focus, .member-list__icon:active {
  background-color: #2196f3;
}
.member-list__item:not(:last-child) {
  margin-right: 10px;
}

.member-list__icon-item {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-list__icon-item:hover, .member-list__icon-item:focus {
  fill: #ffffff;
}

/*FOOTER Форма ДЗ 6*/
.footer-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.footer-form__email {
  margin-bottom: 20px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .footer-form__email {
    margin-bottom: 0;
    margin-right: 12px;
  }
}
.footer-form__send {
  fill: #ffffff;
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.footer-field {
  width: 100%;
  padding: 0;
  /* display: flex;
  flex-wrap: wrap;
  width: 570px;
  height: 86px;*/
}

.footer-form .footer-form__input::-moz-placeholder {
  width: 47px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form .footer-form__input:-ms-input-placeholder {
  width: 47px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form .footer-form__input::placeholder {
  width: 47px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/*.footer-form__sign-in {
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  line-height: 1.14;
  color: $primary-background;
  margin-bottom: 20px;
}*/
.footer-form__input {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: hsl(235deg, 10%, 21%);
  padding: 15px;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__input:hover, .footer-form__input:focus {
  border-color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    max-width: 100%;
  }
}

.adjust-container {
  max-width: 582px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wrap-container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .join-container {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .join-container {
    margin-left: 70px;
    margin-right: 93px;
  }
}

.footer-form__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  color: #f5f4fa;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form__button:hover, .footer-form__button:focus {
  background-color: #188ce8;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */