$primary-text: #212121;
$secondary-text: #757575;
$accent: #2196f3;
$primary-background: #ffffff;
$secondary-background: #f5f4fa;
$footer-color: hsl(235, 10%, 21%);
$icon-color: #afb1b8;
$timng-function: cubic-bezier(0.4, 0, 0.2, 1);